<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <aop:aspectj-autoproxy/>
    <context:annotation-config/>
    <context:property-placeholder location="classpath:setting.properties" />

    <bean id = "doorayMessageSender" class = "com.nhnacademy.edu.springframework.sender.DoorayMessageSender"/>

    <bean id = "doorayHookSender" class = "com.nhn.dooray.client.DoorayHookSender">
        <constructor-arg name="resttemplate" ref="restTemplet"/>
        <constructor-arg name="url" value="${hookUrl}"/>
    </bean>

    <bean id="restTemplet" class="org.springframework.web.client.RestTemplate"/>

    <bean id = "messageSendService" class = "com.nhnacademy.edu.springframework.service.MessageSendService"/>

    <bean id = "methodAspect" class="com.nhnacademy.edu.springframework.aop.MethodAspect"/>
    <aop:config>
        <aop:pointcut id="sendMessagePointcut" expression="@annotation(com.nhnacademy.edu.springframework.annotation.Dooray) and execution(* com.nhnacademy.edu.springframework.sender.DoorayMessageSender.sendMessage(..))"/>
        <aop:aspect ref="methodAspect">
            <aop:around method="timeLogger" pointcut-ref="sendMessagePointcut" />
        </aop:aspect>
    </aop:config>
</beans>
